body {
    background-color: #DBE2EF;
}
nav {
    background-color: #112D4E;
    height: 200px;
}
hr {
    border-style: dotted none none;
    border-color: #112D4E;
    border-width: 3px;
    width: 5%;      
}
h1{
    color: #3F72AF;
}
h3{
    color: #3F72AF;
}