body {
    background-color: #DBE2EF;
    font-family: Arial, Helvetica, sans-serif;
}
nav {
    text-align: right;
    overflow: hidden;
}

#description {
    text-align: justify;
}
h1{
    color: #3F72AF;
    text-transform: uppercase;
}
h3{
    color: #3F72AF;
}